

/.idea/*
/data_test


*.pyc
*~
*.renamed*
MANIFEST
dist
build
tempLog.txt
.idea
acq4.egg-info
!config/

!config/default.cfg
!config/devices.cfg
!config/folderTypes.cfg
!config/style.css

config/*
!config/example/
crash.log
